<li><%= answer.text %>
  <span class="best-answer">
    <% if @question.best_answer_id == answer.id %>
      ** voted best answer **
    <% end %>
  </span>
  <% if current_user == answer.question.creator %>
   <form action="/answers/<%= answer.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="best answer">
  </form>
  <% end %>
</li>

<!-- votes for answers -->
  <% if logged_in? %>
    <form action="/answers/<%= answer.id %>/votes" method="post">
      <input type="submit" name="upvote" value="upvote">
    </form><br>
    <form action="/answers/<%= answer.id %>/votes" method="post">
     <input type="submit" name="downvote" value="downvote">
    </form>
  <% end %>
