<!-- comments on question -->
<% if @question.comments.count > 0 %>
<h3>Question Comments</h3>

<ul class="list-group" id="comments-list">
  <% @question.comments.each do |comment| %>
    <li class="list-group-item"><%= comment.text  %>
    	<span class="badge badge-pill badge-info">Votes <%= comment.total_votes %></span>
    	<%= erb :'/votes/_question_comments', locals: { question: @question, comment: comment }, layout: false %>
    </li>
  <% end %>
</ul>
<% end %>

