<a class="btn btn-primary btn-lg" href="#" role="button">Add Question</a>
    <form id="post-question" method="post" action="questions" >
  <div class="form-group">
    <label for="title_new">Add A New Question Title</label>
    <input class="form-control" id="title_new" type="text" name="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="text_new">Add A New Question Body</label>
    <textarea id="text_new" class="form-control" name="text" placeholder="My question is ..."></textarea>
  </div>
  <button class="btn btn-primary" type="submit" value="Ask">Ask</button>
</form>