<!-- comments on question -->
<% if @question.comments.count > 0 %>
<h3>Question Comments</h3>
<ul id="comments-list">
  <% @question.comments.each do |comment| %>
    <li><%= comment.text  %></li>
    <span class="badge badge-pill badge-info">Votes <%= comment.total_votes %></span>
    <%= erb :'/votes/_question_comments', locals: { question: @question, comment: comment }, layout: false %>
  <% end %>
</ul>
<% end %>

