<form id="question-comment" action="/questions/<%= @question.id %>/comments" method="post">
  <textarea name="text" cols="50" rows="5" placeholder="Enter your comment on the question..."></textarea>
  <input type="submit" value="answer">
</form>
