<h1>Questions:</h1>

<ul>
  <% @questions.each do |question| %>
  <li>
    <a href="/questions/<%= question.id %>"><%= question.title %></a>
    <span><%= question.votes.total_votes %></span>
  </li>
  <% end %>
</ul>

<!-- <form>
  <input type="" name="" placeholder="">
  <input type="" name="" placeholder="">
  <input type="" name="" placeholder="">
</form> -->


