
<h1>Questions:</h1>

<ul>
<% @questions.each do |question| %>
<li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
<% end %>
</ul>

<!-- <form>
  <input type="" name="" placeholder="">
  <input type="" name="" placeholder="">
  <input type="" name="" placeholder="">
</form> -->

<!-- count total votes to questions -->
<%# @questions.each do |question| %>
  <%#= question.votes.total_votes %>
<%# end %>

