<h1>Questions:</h1>


<ul class="list-group">
  <% @questions.each do |question| %>
    <li class="list-group-item">
      <a href="/questions/<%= question.id %>"><%= question.title %></a>
      <% if false %>
        <span class="badge badge-pill badge-info">Votes <%= question.total_votes %></span>
      <% end %>
    </li>
  <% end %>
</ul>


<% if logged_in? %>
<%= erb :'/_errors', locals: {errors: @errors}, layout: false %>
<form method="post" action="questions" >
  <input type="text" name="title" placeholder="Title">
  <input type="textarea" name="text" placeholder="My question is ...">
  <input type="submit" value="Ask">
</form>
<% end %>

