
<h1>Title: <%= @question.title %></h1>
<h3>Question: <%= @question.text %>
<h4>Asked by: <%= @question.creator.name %></h4>

<form action="/questions/:question_id/votes" method="post">
  <input type="submit" value="upvote">
  <input type="submit" value="downvote">
</form>

<!-- count total votes to questions -->
<%# @questions.each do |question| %>
  <%#= question.votes.total_votes %>
<%# end %>

<form action="/answers" method="post">
  <textarea name="text" cols="50" rows="5">
    Enter your Answer...</textarea>
  <input type="submit" value="answer">


</form>
