<form action="/sessions" method="post" class="login_form form-inline">
  <label for="email">Email</label>
  <input type="text" name="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="email" placeholder="Jack21@gmail.com">

  <label for="password">Password</label>
  <input type="password" name="password" class="form-control" id="inlineFormInputGroup">
  </div>

  <button type="submit" class="btn btn-outline-success">Login</button>
</form>
