<form id="add-answer-form" action="/answers" method="post">
 <input type="hidden" name="question_id" value="<%= @question.id %>">
  <textarea name="text" cols="50" rows="5" placeholder=" Enter your Answer..."></textarea>
  <input type="submit" value="answer">
</form>
