<li class="list-group-item">
  <a href="/questions/<%= question.id %>"><%= question.title %></a>
  <% if false %>
    <span class="badge badge-pill badge-info">Votes <%= question.total_votes %></span>
  <% end %>
</li>
